:root {
  /* main-colors */

  --primary: #00ba9f;
  --secondary: #969696;
  --white: #ffffff;
  --light-green: #969696;
  --crimson-green: #626262;
  --dark-green: #02816e;
  --dark: #1b1f21;
  --light-purple: #118ad3;
  --light-red: #ff1654;
  --black: #000000;
  --normal-green: #07b49b;
  --normal-red: #dc3545;
}
