html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@font-face {
  font-family: "vazir";
  src: url("./assets/fonts/Vazir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "vazir", sans-serif !important;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "vazir", sans-serif !important;
}
div,
p,
ul,
li,
button,
th,
table,
tr {
  font-family: "vazir", sans-serif !important;
}
